$bg-green:#656D4A;

.navbar {
 background-color: $bg-green;
 padding: 1.5%;
 font-size: large;
 text-align: right;
 display: flex!important;
  flex-basis: auto;
  flex-direction: row;
}

.navbar-brand {
  font-size: 180%;
  font-family: 'Lemon';
}

// .navbar-expand-lg .navbar-collapse {
//   display: flex!important;
//   flex-basis: auto;
//   flex-direction: row-reverse;
// }

.nav-link {
  font-family: 'Lemon';
}

